[submodule "icicles"]
	path = icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "nimrod-mode"]
	path = nimrod-mode
	url = ./nimrod-mode
[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
