[submodule "icicles"]
	path = vendor/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "nimrod-mode"]
	path = vendor/nimrod-mode
	url = https://github.com/eegg/nimrod-mode.git
[submodule "evil"]
	path = vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "gist.el"]
	path = vendor/gist.el
	url = https://github.com/defunkt/gist.el.git
[submodule "vendor/showoff-mode"]
	path = vendor/showoff-mode
	url = https://github.com/developernotes/showoff-mode.git
[submodule "vendor/smarttabs"]
	path = vendor/smarttabs
	url = https://github.com/jcsalomon/smarttabs.git
[submodule "vendor/evil-rails"]
	path = vendor/evil-rails
	url = https://github.com/antono/evil-rails.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendor/popup-el"]
	path = vendor/popup-el
	url = https://github.com/m2ym/popup-el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/refheap.el"]
	path = vendor/refheap.el
	url = https://github.com/Raynes/refheap.el.git
[submodule "vendor/ebib"]
	path = vendor/ebib
	url = https://github.com/joostkremers/ebib.git
[submodule "vendor/Enhanced-Ruby-Mode"]
	path = vendor/Enhanced-Ruby-Mode
	url = https://github.com/zenspider/enhanced-ruby-mode.git
[submodule "vendor/evil-surround"]
	path = vendor/evil-surround
	url = https://github.com/timcharper/evil-surround.git
