[submodule "icicles"]
	path = vendor/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "nimrod-mode"]
	path = vendor/nimrod-mode
	url = https://github.com/eegg/nimrod-mode.git
[submodule "evil"]
	path = vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "undo-tree"]
	path = vendor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "gist.el"]
	path = vendor/gist.el
	url = https://github.com/defunkt/gist.el.git
[submodule "vendor/showoff-mode"]
	path = vendor/showoff-mode
	url = https://github.com/developernotes/showoff-mode.git
[submodule "vendor/smarttabs"]
	path = vendor/smarttabs
	url = https://github.com/jcsalomon/smarttabs.git
[submodule "vendor/evil-rails"]
	path = vendor/evil-rails
	url = https://github.com/antono/evil-rails.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
